.row
  .col-sm-12
    %h2 R.S.V.Ps
    %p Currently <strong>#{rsvps.count}</strong>/#{expected}
    .my-progress-bar
      .my-progress-bar-inner{ style: "width: #{progress}%;",
        class: rsvps.count >= expected ? 'complete' : '' }
    %table.table.rsvp-table
      %thead
        %tr
          %th Name
          %th Extra
          %th Response
          %th Replied at
      %tbody
        - rsvps.each do |rsvp|
          %tr{ class: rsvp.response }
            %td= rsvp.name
            %td= rsvp.extra
            %td= rsvp.response.humanize
            - if rsvp.created_at
              %td= rsvp.created_at.to_formatted_s(:short)
            - else
              %td -

