!!!
%html
  %head
    %title Jennifer & Maximillian
    = stylesheet_link_tag 'application', media: 'all'
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = csrf_meta_tags
  %body
    .container
      .row
        .hero
          %h1 Jennifer & Maximillian
          %h3 17.09.16


      .row
        .page-container
          .row
            .links-container
              %ul
                %li= link_to "Home", root_path, class: link_class('home#index')
                %li= link_to "Venue", venue_path, class: link_class('home#venue')
                %li= link_to "Accomodation", accomodation_path, class: link_class('home#accomodation')
                %li= link_to "R.S.V.P.", new_rsvp_path, class: link_class('rsvps#.*')
                %li= link_to "Gifts", gifts_path, class: link_class('home#gifts')

          .row
            .page
              =yield
    =yield(:page_bottom) if content_for?(:page_bottom)
    = yield(:page_bottom) if content_for?(:page_bottom)
    = javascript_include_tag 'application'
    = yield(:after_javascript_load) if content_for?(:after_javascript_load)
